.header
{
    display: flex;
    border: solid 3px black;
    background-color: rgb(6 0 0);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header li{
    list-style: none;
    padding: 0px 15px;
}

.header ul{
    list-style: none;
    display: flex;
    padding: 0px;
}

.header a{
    list-style: none;
    font-size: large;
    color: white;
    position: relative;
    padding-bottom: 8px;
}

.header ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: all 0.4s ease;
    transform: translateX(-50%);
  }
  
  .header ul li a:hover::after {
    width: 100%;
  }

header{
    position: sticky;
    top: 0;
    z-index: 99;
    display: flex;
    margin-bottom: 2%;
    flex-direction: column;
}

.Div-lenguagues
{
    position: absolute;
    right: 2%;
}

.Button-lenguagues{
    width: 50px;
    padding: 0;
    background: none;
}

.Button-lenguagues:hover{
    border-color:transparent;
}
.Button-lenguagues:focus{
    outline: none;
}