header{
    position: sticky;
    top: 0;
    z-index: 10;
}

.header
{
    display: flex;
    background-color: rgb(6 0 0);
    justify-content: center;
    align-items: center;
}

/*-------------------------OPCIONES DE MENU-------------------------*/
.header ul{
    display: flex;
    padding: 0px;
}

.header ul li{
    padding: 0px 40px;
}

.header ul li a{
    font-size: larger;
    color: white;
    position: relative;
    padding-bottom: 8px;
    text-decoration: none;
}

.header ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s ease;
    transform: translateX(-50%);
}

.header ul li a:hover {
    color: var(--color-terceary);
}

.header ul li a:hover::after {
    width: 100%;
    background-color: var(--color-primary);
}

/*-------------------------BANDERAS-------------------------*/
.header .Div-lenguagues
{
    position: absolute;
    right: 2%;
}

.header .Div-lenguagues .Button-lenguagues{
    height: 33px;
    padding: 0;
    background: none;
}

.header .Div-lenguagues .Button-lenguagues:hover{
    cursor: pointer;
    border: solid 2px var(--color-terceary);
}

/*-------------------------RESPONSIVE-------------------------*/
@media (max-width: 950px) {
    .header
    {
        justify-content: flex-start;
    }

    .header ul {
        width: 90%;
        justify-content: space-around;
    }

    .header ul li{
        padding: 0px 20px;
    }
}

@media (max-width: 770px) {
    .header ul li a{
        font-size: medium;
    }
}

@media (max-width: 620px) {
    .header ul li{
        padding: 0px 10px;
    }
    .header ul li a{
        font-size: small;
    }
}

@media (max-width: 500px) {
    
    .header {
        width: 99%;
    }
    
    .header ul li{
        display: flex;
        padding: 0px 10px;
        align-items: center;
    }

    .header ul li a {
        font-size: small;
    }
    
    .header .Div-lenguagues {
        position: inherit;
    }

    .header .Div-lenguagues .Button-lenguagues {
        width: 30px;
        display: flex;
    }
}
