.Habilidades svg{
    height: 30px;
    width: 30px;
}

.Habilidades{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.Habilidades .lista {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.Habilidades .lista li
{
    display: flex;
    align-items: center;
    background: #5857574d;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 10px;
    width: 45%;
    max-width: 500px;
    box-shadow: 0 2px 4px #0000001a;
    justify-content: flex-start;
}

.Habilidades h1{
    font-Size: 40px
}

._star_1xcwf_61 {
    color: gold;
    font-size: 14px;
    margin-right: 10px;
}
.Habilidades .lista li strong {
    color: #61dbfb;
    font-size: 14px;
    margin-right: 10px;
}
._icons_1xcwf_68 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* tooltip */
.a{
    background: none;
    padding: 0;
    border-radius: 0;
    border: 0;
    font-size: 0;
    cursor: default;
}

@media (max-width: 950px)
{
    .Habilidades .lista li
    {
        width: 70%;
    }

    .Habilidades h1{
        font-Size: 35px
    }
}

@media (max-width: 650px)
{
    .Habilidades .lista li
    {
        width: 85%;
    }

    .Habilidades h1{
        font-Size: 30px
    }

}