.footer {
    background-color: #0a192f;
    color: #ffffff;
    padding: 10px 0px
}

.footer .footer-content {
    display: flex;
    justify-content: space-evenly;
}

.footer .footer-content p {
    margin: 4px 0;
    text-align: center;
}