:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  --color-primary: #ff00f2;
  --color-secondary: #00c2ff;
  --color-terceary: #ffde00;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
