.proyectos-section {
  background: linear-gradient(135deg, #0a192f 0%, #112240 100%);
  position: relative;
  height: 1500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

.proyectos-section h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-terceary);
  font-size: xx-large;
}

.proyectos-section .grid-proyecto{
  display: flex;
  gap: 10%;
  width: 75%;
  height: 100%;
}

.proyectos-section .grid-proyecto .col{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.proyectos-section .grid-proyecto .card-proyecto{
  background: #0063bb4a;
  display: flex;
  flex-direction: column;
  border: solid 4px var(--color-primary);
  box-shadow: 0px 0px 20px 0px var(--color-primary);
  color: #ffffff;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 30px;
}

.proyectos-section .grid-proyecto .card-proyecto h2{
  margin: 0px;
  margin-top: 5px;
  color: var(--color-terceary);
}

.proyectos-section .grid-proyecto .card-proyecto p{
  padding: 0px 20px;
  margin: 0;
}

.proyectos-section .grid-proyecto .centarInfo{
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  align-items: center;
  height: 50%;
  justify-content: space-around;
}

.proyectos-section .grid-proyecto .CentrarImagen{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.proyectos-section .grid-proyecto .CentrarImagen img{
  height: 100%;
  object-fit: fill;
  width: 100%;
  border-radius: 16px 16px 0px 0px;
}

.proyectos-section .grid-proyecto .CentrarBotones{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.proyectos-section .grid-proyecto .CentrarBotones a{
  border-radius: 50px;
  font-size: large;
  padding: 10px 20px;
  border: solid var(--color-primary) 2px;
  box-shadow: 0px 0px 20px 0px var(--color-primary);
  background: #00214a;
  color: white;
  text-decoration: none;
}

.proyectos-section .grid-proyecto .CentrarBotones a:hover{
  border-color: var(--color-terceary);
  box-shadow: 0px 0px 20px 0px var(--color-terceary);
}

@media (max-width: 1300px) {
  .proyectos-section .grid-proyecto {
    width: 90%;
  }

  .proyectos-section .grid-proyecto .card-proyecto {
    height: 650px;
  }
}

@media (max-width: 1000px) {
  .proyectos-section {
    height: auto;
  }
  .proyectos-section .grid-proyecto {
    width: 65%;
    flex-direction: column;
  }
  .proyectos-section .grid-proyecto .col {
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .proyectos-section .grid-proyecto .centarInfo {
    height: 90%;
  }
}