.AboutMe h3{
    margin: 0;
    padding: 20px;
    text-align: justify;
}
.texto{
    background: #336e9957;
    border: solid;
    border-radius: 10px;
}
.AboutMe
{
    padding: 10px;
    width: 80%;
}
.centrarAboutMe
{
    display: flex;
    justify-content: center;
}