
.centrarAboutMe
{
    display: flex;
    justify-content: center;
}
.centrarAboutMe .AboutMe
{
    padding: 10px;
    width: 80%;
}

.centrarAboutMe .AboutMe h1{
    margin: 0;
    padding: 20px;
    text-align: center;
}

.centrarAboutMe .AboutMe .texto 
{
    padding: 0px 15px;
    background: #336e9957;
    border: solid;
    border-radius: 10px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

@media (max-width: 650px)
{

    .AboutMe
    {
        padding: 10px;
        width: auto;
    }

    .centrarAboutMe .AboutMe .texto h3
    {
        font-size: small;
        text-align: justify;
    }
}
